<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html" charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <div class="home_button_container">
            <form th:action="@{/}" th:method="get">
                <button type="submit" id="home_button">홈페이지 이동</button>
            </form>
        </div>

        <div class="container">
            <h3>&lt;게시글에 달린 댓글 보는 페이지&gt;</h3>

            <table>
                <tr th:each="reply : ${replys}">
                    <!--
                    <td th:text="${reply.id}"></td>
                    -->
                    <td th:text="${reply.content}"></td>
                    <td th:if="${!session.isEmpty()  and session.member.role().toString().equals('ADMIN')}">
                        <form th:action="@{/post{postId}/reply{replyId}/remove/ADMIN(
                                    postId = ${postId},
                                    replyId = ${reply.id})}" th:method="post">
                            <button type="submit" id="remove_button">삭제하기(관리자 권한)</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div class="page_button_container">
            <table>
                <tr>
                    <td th:if="${pageId} != 1">
                        <form th:action="@{/showReply/post{postId}/page{pageId}(
                                postId = ${postId},
                                pageId = ${pageId}-1)}" th:method="get">
                            <button type="submit">이전</button>
                        </form>
                    </td>

                    <td th:each="num : ${nums}">
                        <b><button th:if="${num} == ${pageId}" type="button" th:text="${num}" style="color: darkred; font-size: 17px;"></button></b>
                        <form th:if="${num} != ${pageId}" th:action="@{/showReply/post{postId}/page{pageId}(
                            postId = ${postId},
                            pageId = ${num})}" th:method="get">
                            <button type="submit" th:text="${num}"></button>
                        </form>
                    </td>

                    <td th:if="${pageId} != ${pages}">
                        <form th:action="@{/showReply/post{postId}/page{pageId}(
                                postId = ${postId},
                                pageId = ${pageId}+1)}" th:method="get">
                            <button type="submit">다음</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>